body {
  font-family: Roboto;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
/*----------------------Header----------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns the content to the left */
  padding: 10px;
  
}

.right-section {
  flex: 1;
  padding: 10px;
  text-align: right;
  
}
.left-section img{
  width: 40px;
  cursor: pointer;
}
.right-section img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
/*--------------------------INTRO-------------------------*/
.intro{
  margin-left: 20px;
}
.h1tag3{
  font-weight: 600;
  margin-bottom: 10px;
}
.h1tag4{
  margin-top: 05px;
  font-weight: 400;
  font-size: 25px;
}
/*------------------Garden Layout-------------------------*/
.box-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping so boxes will wrap to the next row */
  justify-content: space-around;
  width: calc(90% - 40px); /* Decreasing width to 80% of the viewport, and considering left and right margins */
  margin: 20px 0px 10px 20px; /* Centering the container horizontally */
  padding: 20px; /* Increase padding for a bit more height */
  background-color: #fff;
  border-radius: 15px; /* Increase the border-radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
  width: 100px;
  height: 100px;
  background-image: url('location.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 5px; /* Add margin for gap between boxes */
}
/*--------------------Search Engine----------------------*/
.container {
  width: 100%; /* Full page width */
  margin: 20px 0;
  padding: 20px;
}

.h1tag1{
  font-weight: 400;
  margin-bottom: 0px;
}
.h1tag2{
  margin-top: 05px;
  font-weight: 600;
}

button {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-left: -60px;
  position: relative; 
}

.image {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 30px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  margin: 20px; /* Apply margin to all sides */
  padding-right: 20px; /* Padding on the right side */
}

#content .result {
  width: 120px; /* Same width as the image */
  height: auto; /* Adjusting the height to auto to fit the content */
  margin: 5px 10px; /* Adding right margin for spacing between results */
  padding-bottom: 10px; /* Adding padding for spacing between the button and the next result */
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content img {
  width: 120px;
  height: 190px;
  object-fit: cover;
  border-radius: 5px;
}

#content .name {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 4px;
}
#content .result .add-plant-btn {
  width: 100%; /* Takes the full width of the result container */
  padding: 5px;
  margin-top: 10px; /* Adding top margin for spacing below the common name text */
  background-color: #4CAF50;
  margin-left: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  display: block; /* Ensuring the button takes the full width */
}

#content .result .add-plant-btn:hover {
  background-color: #45a049;
}
